
head{
	margin: 0;
	background-color: black;
	background-color: #1abc9c;
	font-size: 40px;
	text-align: center;
	font-family: Times;
	font-weight: lighter;
}


body{
	background-color: black;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

button{
	background-color: lightblue;
	animation: fade 1s ease forwards;
}

@keyframes fade {
	from{
		opacity: 1;
		pointer-events: all;
	}
	to{
		opacity: 0;
		pointer-events: none;
	}
}
