
head{
	margin: 0;
	background-color: black;
	background: #1abc9c;
	font-size: 40px;
	text-align: center;
	font-family: Times;
	font-weight: lighter;
}


body{
	padding: 80%;
	margins: 10%;
	align-content: space-around;
	scroll-behavior: smooth;
	animation-duration: 200ms;
	height: auto;
}

.box{
	transition-duration: 2s;
	transition-property: margin-right, color;